/* IMPORT FONTS */
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

/* CSS RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* GENERAL STYLING */
body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  color: #000;
}

a {
  text-decoration: none;
}

input,
button,
textarea {
  padding: 0.5rem;
  border: 1px solid #999;
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
}

.hidden {
  display: none;
}

/*LOGIN*/
div.container {
  width: 90vw;
  height: 90vh;
  margin: auto;
  padding: 1rem;
  margin-bottom: 3.5rem;
  margin-top: 5rem;
}

.form-login {
  display: flex;
  flex-direction: column;
  margin: auto;
  margin-top: 3rem;
  width: 80vw;
  height: 60vh;
  margin-bottom: 1rem;
}

.label-enter {
  margin-top: 1rem;
  font-size: 1.5rem;
  text-align: center;
}

.label-login {
  margin-top: 1rem;
  margin-left: 1rem;
}

.input-login {
  margin-top: 0.5rem;
  margin-left: 1rem;
  margin-right: 1rem;
  font-size: 1rem;
  padding: 0.5em;
}

.title-login {
  text-align: center;
  font-weight: normal;
}

.btn-login {
  width: 20vw;
  height: 5vh;
  margin: 0 auto;
  margin-top: 1rem;
}

.alternative {
  margin-top: 0.5rem;
  text-align: center;
  margin-bottom: 0.5rem;
}

#btn-google {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 2.5rem;
  margin: 0 auto;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 2px;
  background-color: #fff;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2),
    0 1px 5px 0 rgba(0, 0, 0, 0.12);
}

.btn-google-icon {
  margin-right: 0.8rem;
  width: 1.2rem;
  height: auto;
}

.btn-google-text {
  font-size: 0.95rem;
  font-weight: 500;
  color: #757575;
}

.sign-up-login {
  text-align: center;
  margin-bottom: 0.5rem;
}

/* SIGN UP */
.icon-arrow {
  font-size: 1.5rem;
  margin: auto;
  margin-left: 1rem;
  color: #000;
}

.header-sign-up {
  display: inline;
  text-align: center;
  font-weight: normal;
  font-size: 12px;
}

.form-sign-up {
  display: flex;
  flex-direction: column;
  margin: auto;
  margin-top: 1rem;
  width: 80vw;
  margin-bottom: 1rem;
}

.label-sign-up-name,
.label-sign-up-email,
.label-sign-up-password,
.label-confirm-password {
  margin-top: 1rem;
  margin-left: 1rem;
}

.input-sign-up-name,
.input-sign-up-email,
.input-sign-up-password,
.input-confirm-password {
  margin-top: 0.5rem;
  margin-left: 1rem;
  margin-right: 1rem;
  padding: 0.2rem;
}

.btn-sign-up {
  width: 25vw;
  margin: 0 auto;
  margin-bottom: 1rem;
  margin-top: 1rem;
  padding: 0.5rem;
}

.option-sign-up {
  text-align: center;
}

.login-link {
  text-align: center;
}

/* NAVBAR */
#top-header {
  display: flex;
  justify-content: flex-end;
  position: fixed;
  top: 0;
  width: 100%;
  padding: 1rem 0;
  background-color: #555;
}

.icon-top-header {
  font-size: 1.5rem;
  color: #fff;
  margin-right: 20px;
}

#bottom-nav {
  display: flex;
  justify-content: space-around;
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 1rem 0;
  background-color: #555;
}

.icon-nav {
  font-size: 1.5rem;
  color: #fff;
}

/* FEED / POST */
.feed-main,
.profile-main,
.post-container {
  margin-top: 3.5rem;
  margin-bottom: 4.5rem;
}

.title {
  text-align: center;
}

.review-post {
  border: solid 1px #999;
  margin: 1rem;
  margin-bottom: 2rem;
}

.review-meta-info {
  padding: 0.5rem;
  border-bottom: solid 1px #999;
  background-color: #e0e0e0;
  font-weight: normal;
  font-size: 0.9rem;
}

.meta-info-container {
  display: flex;
  align-items: center;
}

.review-user-avatar {
  width: 3rem;
  height: auto;
  margin-right: 0.5rem;
  border-radius: 50%;
}

.review-author-username {
  font-size: 1rem;
  font-weight: bold;
}

.review-date {
  display: block;
}

.edit-button,
.save-button,
.delete-button,
.cancel-button,
.edit-icon,
.delete-icon,
.cancel-icon,
.check-icon {
  margin-right: 0.5rem;
  font-size: 0.8rem;
}

.top-icons-container {
  padding-top: 0.5rem;
}

.review-main-info {
  padding: 1rem;
}

.review-info-book-title,
.review-info-book-author {
  margin-bottom: 1.3rem;
}

#review-book-title,
#review-book-author {
  font-weight: bold;
}

.editable-content {
  padding: 0.3rem;
  border: 2px solid indianred;
  border-radius: 5px;
}

.like-container {
  display: flex;
  padding: 0.5rem 1rem;
}

.like-icon {
  margin-right: 0.5rem;
  font-size: 1.3rem;
}

/*REVIEW*/

.title-review {
  text-align: center;
  font-weight: normal;
}

.form-review {
  display: flex;
  flex-direction: column;
  margin: auto;
  margin-top: 3rem;
  width: 80vw;
  height: 60vh;
  margin-bottom: 1rem;
}

.label-review {
  margin-top: 1rem;
  margin-left: 1rem;
}

.input-book {
  margin-top: 0.5rem;
  margin-left: 1rem;
  margin-right: 1rem;
  font-size: 1rem;
  padding: 0.5em;
}

.review {
  margin-top: 0.5rem;
  margin-left: 1rem;
  margin-right: 1rem;
  font-size: 1rem;
  height: 15vh;
  padding: 0.5em;
}

.required{
color: #ff0000;
}

.btn-review {
  width: 26vw;
  height: 5vh;
  margin: 0 auto;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
}

/* PROFILE */

.profile-header {
  margin-top: 3.5rem;
  width: 100vw;
}

#profile-banner {
  height: 8rem;
  margin-bottom: 1rem;
  background-color: #333;
  padding: 3.5rem; /* Remover após inserir img */
  color: #fff; /* Remover após inserir img */
  text-align: center; /* Remover após inserir img */
}

.profile-user-info {
  margin: 1.5rem 1rem 3rem 1rem;
}

#profile-user-name {
  margin-bottom: 0.5rem;
}

.profile-favorite-quote {
  padding: 1rem;
  background-color: #eeeeee;
}

#profile-quote-text {
  margin-bottom: 0.7rem;
  font-size: 0.9rem;
}

.profile-user-posts-title {
  display: inline-block;
  margin: 0 1rem;
  padding: 0.5rem;
  border: solid 1px #999;
}
