/* IMPORT FONTS */
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@400;500;600;700&display=swap");

/* REFERÊNCIAS PARA MEDIA QUERIES */
/*
Mobile maior -- max-width: 600px
Tablet retrato -- min-width: 601px
Tablet paisagem e Desktop -- min-width: 900px
*/


/* CSS RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* GENERAL STYLING */
html {
  height: 100%;
  width: 100%;
  font-size: 15.5px;
}

body {
  height: 100%;
  width: 100%;
  background-color: #fdf4dd;
  font-family: "Work Sans", sans-serif;
  color: #000;
}

a {
  color: #000;
  text-decoration: none;
}

a:hover {
  border-bottom: solid 2px #000;
}

input,
button,
textarea {
  font-family: "Work Sans", sans-serif;
}

.btn-base {
  padding: 0.5rem 1rem;
  border: solid 2px #000;
  border-radius: 2rem;
  background-color: #000;
  color: #fdf4dd;
  transition: 0.3s ease-in-out;
}

.btn-base:hover {
  background-color: #fdf4dd;
  color: #000;
}

.required {
  font-size: 0.8rem;
  font-weight: bold;
  color: #da815e;
}

.hidden {
  display: none;
}


/*LOGIN*/
.container-login {
  display: flex;
  flex-flow: column;
  justify-content: center;
  height: 100vh;
}

.bookshelf-logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-grow: 1;
  padding: 1.5rem 0;
}

.logo-login {
  max-width: 30vw;
  height: auto;
  margin: 0 auto;
}

.logo-book {
  margin-bottom: 0.5rem;
}

.logo-text {
  max-width: 43vw;
}

.form-bg {
  width: 100%;
  flex-grow: 1;
  padding-top: 1.2rem;
  padding-bottom: 3rem;
  background-color: #fdf4dd;
  border-radius: 4rem 0 0 0;
  box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.15);
}

.form-login {
  max-width: 30rem;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 0 2rem;
}

.label-begin {
  margin-top: 1rem;
  font-size: 0.8rem;
  font-weight: 600;
  color: #000;
  text-transform: uppercase;
}

.input-begin {
  border: none;
  border-bottom: solid 1px #000;
  outline: none;
  padding: 0.3rem 0;
  background-color: #fdf4dd;
  font-size: 1rem;
  color: #000;
}

.btn-begin {
  display: block;
  width: 16rem;
  margin: 1rem auto;
  font-weight: 500;
  font-size: 1rem;
}

.btn-google {
  width: 16rem;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 2.5rem;
  margin: 0 auto;
  margin-bottom: 1rem;
  padding: 0.5rem;
}

.btn-google-icon {
  margin-right: 0.8rem;
  width: 1rem;
  height: auto;
}

.btn-google-text {
  font-size: 0.9rem;
  font-weight: 500;
}

.question-begin {
  font-size: 0.9rem;
  text-align: center;
  line-height: 1.5rem;
}

.link-begin {
  font-size: 1rem;
  font-weight: 600;
  text-align: center;
}

/* SIGN UP */
.container-sign-up {
  padding: 1.5rem 0;
}

.icon-arrow {
  font-size: 1.5rem;
  position: absolute;
  top: 1rem;
  left: 1rem;
}

.title-sign-up {
  margin-top: 3rem;
  margin-bottom: 0.5rem;
  text-align: center;
  font-weight: 500;
  font-size: 1.4rem;
}

.form-sign-up {
  max-width: 30rem;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 0 2rem;
}

.login-link {
  text-align: center;
  line-height: 1.5rem;
}

/* FOOTER */
.github-footer {
  width: 100vw;
  position: fixed;
  background-color: #f5e1b3;
  bottom: 0;
  padding: 0.5rem;
  text-align: center;
  line-height: 1.2rem;
  font-size: 0.8rem;
}

.github-icon {
  font-size: 1rem;
  vertical-align: middle;
}

.link-footer {
  font-weight: 600;
}

/* NAVBAR */
.responsive-wrap-navbar {
  width: 100%;
  max-width: 25rem;
  display: flex;
  justify-content: space-between;
  padding: 0 2rem;
}

.top-header {
  position: fixed;
  top: 0;
  width: 100%;
  padding: 0.5rem 2rem;
  background-color: #fdf4dd;
  box-shadow: 0 2px 15px 4px rgba(0, 0, 0, 0.15);
}

.responsive-wrap-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 25rem;
  margin: 0 auto;
}

.logo-header {
  height: 2rem;
  width: auto;
}

.icon-top-header {
  font-size: 1.5rem;
  color: #000;
  transition: 0.3s ease-in-out;
}

#bottom-nav {
  display: flex;
  justify-content: space-around;
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 1rem 0;
  background-color: #000;
}

.icon-nav {
  font-size: 1.5rem;
  color: #fdf4dd;
}

/* PAGES */
.feed-main,
.profile-main,
.post-container {
  /* margin-top: 3.5rem; */
  margin-bottom: 4.5rem;
}

/* FEED */
.feed-header {
  max-width: 100vw;
  margin-top: 4rem;
  text-align: center;
}

.feed-img {
  max-width: 15rem;
  height: auto;
}


/* POST COMPONENT */
.post-container {
  margin: 0 auto;
  max-width: 28rem;
}

.review-post {
  margin-bottom: 5.5rem;
  box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.15);
  border-radius: 2rem;
}

.review-meta-info {
  padding: 1rem 1.5rem;
  border-radius: 2rem 2rem 0 0;
  background-color: #f5e1b3;
  font-weight: normal;
  font-size: 0.9rem;
}

.meta-info-container {
  display: flex;
  align-items: center;
}

.review-user-avatar {
  width: 4rem;
  height: auto;
  margin-right: 1rem;
  border-radius: 50%;
  border: solid 2px #000;
}

.review-author-username {
  margin-bottom: 0.3rem;
  font-size: 1.2rem;
  font-weight: 600;
  text-transform: capitalize;
}

.review-date {
  display: block;
  font-size: 0.8rem;
}

.top-icons-container {
  display: flex;
  justify-content: flex-start;
  margin: 1rem 0 0.7rem 0;
}

.btn-post {
  margin-right: 0.8rem;
  padding: 0.4rem 0.8rem;
  font-weight: 400;
  font-size: 0.8rem;
}

.btn-post:hover {
  background-color: #f5e1b3;
}

.edit-icon,
.delete-icon,
.cancel-icon,
.check-icon {
  margin-right: 0.5rem;
}

.review-main-info {
  padding: 2rem;
}

.review-info-book-title,
.review-info-book-author {
  margin-bottom: 2rem;
  font-size: 0.8rem;
  font-weight: 600;
  text-transform: uppercase;
}

.review-book-title,
.review-book-author {
  padding: 0.5rem 0;
  font-size: 1rem;
  font-weight: 400;
  outline: none;
  text-transform: initial;
}

.review-opinion {
  line-height: 1.7rem;
}

.editable-content {
  padding: 0.5rem;
  border-radius: 0.5rem;
  background-color: #f5e1b3;
}

.like-container {
  display: flex;
  padding: 2rem;
}

.like-icon {
  margin-right: 0.5rem;
  font-size: 1.3rem;
}

.like-icon-general {
  color: #000;
  transition: 0.3s ease-in-out;
}

.like-icon-general:hover,
.like-icon.fas {
  color: #da815e;
}

.current-user-like-icon {
  color: #000;
}

/*REVIEW PAGE*/
.container-review {
  padding: 1.5rem 0;
}

.title-review {
  margin-top: 3.2rem;
  margin-bottom: 0.5rem;
  text-align: center;
  font-weight: 500;
  font-size: 1.4rem;
}

.label-review {
  margin-top: 1rem;
  margin-bottom: 0.5rem;
  font-size: 0.8rem;
  font-weight: 600;
  color: #000;
  text-transform: uppercase;
}

.input-review {
  border: none;
  border-radius: 0.5rem;
  outline: none;
  padding: 0.3rem;
  background-color: #f5e1b3;
  font-size: 1rem;
  color: #000;
}

.text-area-review {
  line-height: 1.7rem;
}

.form-review {
  max-width: 30rem;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 0 2rem;
}

.btn-review {
  display: block;
  width: 13rem;
  margin: 1rem auto;
  font-weight: 500;
  font-size: 1rem;
}

.btn-review:hover {
  background-color: #fdf4dd;
  color: #000;
}

/* PROFILE */

.profile-header {
  margin-top: 3.5rem;
  width: 100vw;
}

.profile-cover {
  position: absolute;
  right: 0.5rem;
  top: 5rem;
  height: 14.5rem;
}

.profile-user-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 25rem;
  margin: 21rem auto 5rem auto;
}

.user-name {
  margin: 0 2rem 1rem 2rem;
  font-weight: 500;
  font-size: 1.4rem;
}

.profile-favorite-quote {
  max-width: 33rem;
  margin: 0 2rem 1rem 2rem;
  padding: 1.5rem;
  border-radius: 0.7rem;
  background-color: #f5e1b3;
}

.quote-text {
  font-family: "Caveat", cursive;
  margin-bottom: 0.7rem;
  font-size: 1.5rem;
}

/*FIRST REVIEW*/
.first-review {
  display: flex;
  margin: 1.5rem 2rem 3rem 2rem;
  padding: 1rem;
  color: #000;
  background-color: #f8eac5;
  box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.15);
}

.first-review-text {
  font-size: 1rem;
  line-height: 1.7rem;
}
